.box {
    width: 300px;
    height: 300px;
    line-height: 300px;
    border: 2px solid blue;
    border-radius: 7px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: transparent;
    background: url(../images/starimg6.webp) no-repeat;
    background-size: cover;
    padding: 20px;
    background-clip: text;
    -webkit-background-clip: text;
}.circle{
    display: flex;
    justify-content: space-evenly;
}

.circle div {
    width: 300px;
    height: 300px;
    border: 2px solid green;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right, red, 30px, green, 70px, pink, blue);
}
.folder1 {
    display: flex;
    justify-content: space-between;
}
.copy {
    border: 2px solid silver;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-image: repeating-linear-gradient(79deg, green 20%, darkred, purple 50%, gold 75%);
}
.snap {
    border: 2px solid silver;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-image: repeating-radial-gradient(ellipse at center , green 20%, darkred, purple 50%, gold 75%);
}
.nobbie {
    border: 2px solid silver;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    background-image: repeating-radial-gradient(ellipse farthest-corner at center , blue, darkblue, pink, red 75%);
}
.sally {
    border: 2px solid silver;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    background-image: repeating-radial-gradient(circle closest-side at center , blue, darkblue, pink, red 75%);
}
.folder2 {
    display: flex;
    justify-content: space-between;
}
.folder2 div {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    border: 2px solid green;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    line-height: 300px;
    color: transparent;
    background-image: repeating-radial-gradient(circle at center, red, purple, darkgreen 75%);
    background-clip: text;
    -webkit-background-clip: text;
}
.folder2::after div {
    content: "";
    position: absolute;
    background-color: darkmagenta;
}
.scroll {
    overflow-y: scroll;
}